b{
    font-size: 5vh;
}
div{
    text-align: center;
    font-size: 4vh;
    border:black double 26px;
    font-size: 2vh;
    width: 36vw;
    height:auto;  
    margin-top: 18vh;  
    margin-left:auto;
    margin-right:auto;
    padding: 7vh 1vw;
}