
    *{
        vertical-align: top;  
          text-decoration: none;
    }
      .about_links{
    font-size: 4vh;
    display: inline-block;
    width:18%;
    height:5vh;
    text-align: center;
    margin-top: 12vh; 
    }
    .active{
      font-style: italic;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellowgreen !important; 
    /* text-decoration: none; */
}
#all_links{
  text-align: center;
}